
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
auth.json

node_modules/
/dist
/build
.npm
.eslintcache


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/


.mongo_data/
data/
*.db
*.sqlite

.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln